<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form method="post" action="/posts">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br>
        <label for="content">Content</label>
        <input type="textarea" name="content" id="content"><br>
        <button type="submit"> Submit post</button>
    </form>

</body>
</html>